# Лабораторна робота №2 з дисципліни "Штучні нейронні мережі"
### Виконав Чистяков Данило

In [17]:
# imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

### Підготовка датасету

In [4]:
df = pd.read_csv('./data/Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [16]:
df.describe()

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced,performance_index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,0.494800,6.530600,4.583300,55.224800
std,2.589309,17.343152,0.499998,1.695863,2.867348,19.212558
min,1.000000,40.000000,0.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,0.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,0.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,1.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,1.000000,9.000000,9.000000,100.000000

In [5]:
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(r'\W', ''))

In [6]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   hours_studied                     10000 non-null  int64
 1   previous_scores                   10000 non-null  int64
 2   extracurricular_activities        10000 non-null  object
 3   sleep_hours                       10000 non-null  int64
 4   sample_question_papers_practiced  10000 non-null  int64
 5   performance_index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [7]:
df['extracurricular_activities'].unique()

array(['Yes', 'No'], dtype=object)

In [8]:
replace_d = {'Yes':1, "No":0}
df['extracurricular_activities'] = df['extracurricular_activities'].replace(replace_d)

C:\Users\Danik\AppData\Local\Temp\ipykernel_1060\2457132054.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['extracurricular_activities'] = df['extracurricular_activities'].replace(replace_d)

In [9]:
df.head()

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced,performance_index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [12]:
X = df.drop('performance_index', axis = 1)
y = df.performance_index

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

### Побудова нейромережі

In [19]:
def createModel():
    model = Sequential()
    model.add(Dense(64, activation='relu', input_shape=(X.shape[1],)))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [20]:
model = createModel()
model.fit(X_train, y_train, epochs = 50, batch_size = 32)

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - loss: 2490.4197
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 686us/step - loss: 42.4190
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - loss: 29.9032
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step - loss: 20.5472
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - loss: 15.3290
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - loss: 11.5675
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - loss: 9.1867
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - loss: 6.8966
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step - loss: 5.5455
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 673us/step - loss: 5.1690
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step - loss: 4.7721
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 684us/step - loss: 4.6962
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 669us/step - loss: 4.5969
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - loss: 4.4355
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - loss: 4.4230
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 680us/step - loss: 4.4957
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - loss: 4.3487
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 742us/step - loss: 4.4054
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - loss: 4.5181
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - loss: 4.3782
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step - loss: 4.2407
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - loss: 4.2917
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - loss: 4.3223
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - loss: 4.4337
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 675us/step - loss: 4.3381
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 802us/step - loss: 4.3723
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - loss: 4.4908
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 671us/step - loss: 4.4709
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 4.4481
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step - loss: 4.2735
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 693us/step - loss: 4.3363
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 680us/step - loss: 4.3576
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 4.3566
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 4.3330
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 701us/step - loss: 4.3542
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 694us/step - loss: 4.2555
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - loss: 4.3608
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - loss: 4.4765
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - loss: 4.3874
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step - loss: 4.3141
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step - loss: 4.2816
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - loss: 4.3432
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - loss: 4.2690
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 693us/step - loss: 4.2395
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 660us/step - loss: 4.3519
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 655us/step - loss: 4.1744
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - loss: 4.3377
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - loss: 4.3614
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - loss: 4.2368
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - loss: 4.2118

In [22]:
scores = model.evaluate(X_test, y_test, verbose=0)
print(f'{scores[1] * 100}%')

TypeError: 'float' object is not subscriptable